body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  background: #e5e5e5;
}

header {
  font-size: 14px;
  letter-spacing: 0.02em;
  background: #ffffff;
}

.logo-header {
  top: 24px;
  color: #2196f3;
  font-family: Raleway;
  font-weight: bold;
  text-decoration: none;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}

.logo-header-studio {
  color: #212121;
}

.link {
  text-decoration: none;
  color: #212121;
}

.header-contacts {
  letter-spacing: 0.02em;
  color: #757575;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.instruments-none {
  display: none;
}

.h1-none {
  display: none;
}

.instruments-h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.instruments-text {
  line-height: 1, 71;
  color: #757575;
}

.our-team {
  font-size: 16px;
  line-height: 1, 19;
}

.our-work-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
}

.our-team-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
}

.our-team-h3 {
  font-size: 16px;
  font-weight: 500;
}

.our-team-p {
  color: #757575;
}

footer {
  background: #2f303a;
}

.logo-footer {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logo-footer-studio {
  color: #ffffff;
}

.footer-addres {
  font-style: normal;
  line-height: 1, 71;
  color: #ffffff;
}

.footer-contacts {
  font-style: normal;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

button {
  font-family: inherit;
}

.buttons {
  color: #212121;
  line-height: 1, 62;
  border: none;
}

.buttons-touch:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.list p {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.list a {
  font-size: 16px;
  line-height: 1, 87;
  color: #757575;
}
